<h1>Marios Specialty Products</h1>
<p>Welcome to Marios Specialty Products! We currently have the products below to offer:</p>
<h2>Avaliable Products</h2>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<p><%= link_to "Add a new product!", new_product_path %></p>